# Logs
logs
*.log
*-debug.log*
*-error.log*

# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
coverage/
*.tsbuildinfo

# Environment / Secrets
.env
.env*.local
*.local
.claude

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.md